* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  line-height: 1.5;
}

h1 {
  font-weight: normal;
}

h3 {
  font-weight: 300;
  font-size: 1.5em;
}

.pagewrap {
  width: 900px;
  margin: 20px auto;
  padding: 0 20px;
}

.tagline {
  font-weight: 300;
  font-style: italic;
  font-size: 1.2em;
  color: #CF1818;
  margin-bottom: 1em;
}

.pagewrap ul {
  margin-left: 20px;
}

a[href] {
  color: #4472b9;
}

a[href]:hover {
  color: #888;
}


/* Assignment 2.3 */
.timetable {
  margin-bottom: 30px;
}

.timetable .hours {
  min-width: 100px;
  max-width: 100px;
}

.timetable td {
  min-width: 100px;
  max-width: 100px;
}

.timetable th,
.timetable td  {
  padding: 5px 10px;
  vertical-align: top;
  border-bottom: 1px solid #eee;
}

.timetable .yellow {
  background-color: #fff2cc;
}
.timetable .red {
  background-color: #f4cccc;
}
.timetable .green {
  background-color: #d9ead3;
}
.timetable .blue {
  background-color: #cfe2f3;
}

.pagewrap .subjects {
  list-style-type: none;
  margin-left: 0;
}

.subjects li {
  display: block;
  float: left;
  padding: 0 5px;
  margin-bottom: 20px;
}

.subjects:after {
  content: "";
  display: table;
  clear: both;
}

.subject {
  margin-bottom: 10px;
}